<!doctype html>
<html>
	<head>
		<title>iuiTable</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.13/angular.min.js"></script>
		<link rel="stylesheet" href="lib/dist/iui-table.css">
    <style type="text/css">
      .container-fluid {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
      }
      .agencyCustomClass {
        width: 200px;
      }
    </style>
    <script src="lib/dist/iui-table.min.js"></script>
		<script>
			var app = angular.module('app', ['iui.table']);
      app.root = '/';
      app.controller('tableTestController', ['$scope', function(scope) {
        scope.displayColumns = [
					{
            field: 'name',
            displayName: 'Real Name',
            columnClass: 'code-name-custom-class',
						visible: false
          },
          {
            field: 'codeName',
            displayName: 'Code Name',
            columnClass: 'code-name-custom-class',
						visible: true
          },
          {
            field: 'agency',
            displayName: 'Agency',
            columnClass: 'agencyCustomClass',
						visible: true
          }
        ];
        scope.rowData = [
          {
            name: 'Maxwell Smart',
            codeName: 'Agent 86',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 99',
            agency: 'CONTROL'
          },
          {
            codeName: 'Mr. Big',
            agency: 'KAOS'
          },
          {
            codeName: 'The Chief',
            agency: 'CONTROL'
          },
          {
            codeName: 'Hymie the Robot',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 8',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 13',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 44',
            agency: 'CONTROL'
          },
          {
            codeName: 'Ludwig Von Siegfried',
            agency: 'KAOS'
          },
          {
            codeName: 'Shtarker',
            agency: 'KAOS'
          },
          {
            codeName: 'The Claw',
            agency: 'KAOS'
          },
          {
            codeName: 'Spinoza',
            agency: 'KAOS'
          },
          {
            codeName: 'Fang',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 1',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 2',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 3',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 4',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 5',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 6',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 7',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 9',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 10',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 11',
            agency: 'CONTROL'
          }
        ];
      }]);
		</script>
	</head>
	<body ng-app="app" ng-controller="tableTestController">
		<div class="container-fluid">
      <h1>iui-table</h1>
			<form>
				<div class="form-group">
					<div class="checkbox" ng-repeat="gridColumn in displayColumns">
						<label>
							<input type="checkbox" ng-model="gridColumn.visible">
							Show {{gridColumn.displayName}}
						</label>
					</div>
				</div>
			</form>
			<iui-table
				display-columns="displayColumns"
				row-data="rowData"
				table-class="'table-names'"
        page-size="10"
				table-caption="'Table of Names'"></iui-table>
		</div>
	</body>
</html>
